.App {
  min-height: 100vh;
  background: rgb(138, 204, 226);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet{
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.red{
  color: red;
  font-size: 50px;
}